[Unit]
Description=Check ProcInSh crates.io release approximately every ten seconds

[Timer]
OnStartupSec=10s
OnUnitInactiveSec=10s
AccuracySec=1s
Unit=procinsh-release-preview-update.service

[Install]
WantedBy=timers.target
